@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: ##B67BE8;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #EB6600;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 85px;	
}
.nav {
	background: ##17777A;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #E4DED4;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #366B36;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #672E53;
}
a:visited {
     color: #3E1;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
